body{
    font-family: sans-serif;
    background-color: blue;
}

body > div, form {
	overflow: hidden;
	width: 35em;
}

h2{
    text-align: center;
    color: aquamarine;
}

h3{
    color: red;
    text-align: center;
}

p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    text-align: center;
}

a:visited{
    color: azure;
}

a:hover{
    background-color: darkblue;
}


fieldset {
	background-color: #212b85;
	border: 2px outset rgb(226, 224, 74);
	border-radius: 10px;
    border-style: groove;
}

legend {
	background-color: white;
    border-style: groove;
	border: 2px outset gray;
	padding: 0.2em;
    text-align: center;
}

form{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset strong,
ul strong,
fieldset label.left,
fieldset .column {
	float: left;
	width: 11em;
}

#headerimg{
    text-align: center;
    width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#questionMaster {
    width: 1300px;
    height: auto;
    position: relative;
    top: 0px;
    margin: auto;
    padding: 1px 8px 10px;
}

.questionSection {
    height: 50px;
    padding: 3%;
    margin: auto;
}

.question {
    float: left;
    background-color:  #212b85;
    width: 200px;
    height: 50px;
    padding: 30px 8px 10px;
    margin: 5px 5px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0,0,0);
    border: 5px groove rgb(20, 20, 20);
    border-radius: 12px;
    vertical-align: middle;
}

.qText{
    color: #cfcfcfde;
    font-size: 22px;
    width: 265px;
    box-sizing: border-box;
}

.qText.category{
    color: rgb(247, 247, 127);
}

.clearDiv{
    clear:both;
}